[submodule "src/libtinyfiledialogs"]
	path = src/libtinyfiledialogs
	url = https://github.com/native-toolkit/libtinyfiledialogs
[submodule "extern/openal-soft"]
	path = extern/openal-soft
	url = https://github.com/kcat/openal-soft
[submodule "extern/fmt"]
	path = extern/fmt
	url = https://github.com/fmtlib/fmt
